.idea
.idea/*
**/.env
**/.env.bak
**/.env.local
**/.env.production
**/.env.staging
**/__pycache__
auth/__pycache__
auth/api/__pycache__
user/__pycache__
db.sqlite3
**/venv
**/env
**/virtualenv
api/staticfiles/*
api/staticfiles/*
api/media/*
backups/*
api/logs/*
!api/logs/.gitkeep
!backups/.gitkeep
api/celerybeat*
logs
logs/*

containers/data
containers/.envs/.local
containers/.envs/.development
containers/.envs/.staging
containers/.envs/.production

.vscode

.coverage

.terraform
.docker
terraform.tfstate

development.json
development.backend.json
staging.json
staging.backend.json
production.json
production.backend.json
node_modules

htmlcov

hosting/keys

/secrets
local.yml
jwt_*

.mypy_cache

keys.json

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

